include ../svgiconsmodule/svgicons.pug

#bottom
    a(href="https://www.instagram.com/assecura.io" target="_blank")
        svg#instagram-icon: use(href="#svg-instagram-icon" target="_blank")
    //- a(href="https://twitter.com/Assecura_Insure" target="_blank")
    //-     svg#twitter-icon: use(href="#svg-twitter-icon")
    a(href="https://www.facebook.com/assecura.at" target="_blank")
        svg#facebook-icon: use(href="#svg-facebook-icon")
    a(href="https://www.linkedin.com/company/assecura-smart-insurance-advice" target="_blank")
        svg#linkedin-icon: use(href="#svg-linkedin-icon")

#logo: svg: use(href="#svg-assecura-logo")
