include ../svgiconsmodule/svgicons.pug

#top
    a(href="https://www.linkedin.com/company/assecura-smart-insurance-advice" target="_blank")
        svg: use(href="#svg-linkedin-icon")
    a(href="https://twitter.com/Assecura_Insure" target="_blank")
        svg: use(href="#svg-twitter-icon")
    a(href="https://www.instagram.com/assecura.io/?igshid=YmMyMTA2M2Y%3D" target="_blank")
        svg: use(href="#svg-instagram-icon" target="_blank")
    a(href="https://www.facebook.com/assecura.at" target="_blank")
        svg: use(href="#svg-facebook-icon")

#logo: svg: use(href="#svg-assecura-logo")
